@using Microsoft.AspNetCore.Identity
@{
    var listUsers = ViewBag.listAppUsers as List<Online_Learning_Web.Controllers.AppUsersController.UserAndRole>;
}
@*<link href="../../assets/css/materialdesignicons.min.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/remixicon.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/style.min.css" rel="stylesheet" type="text/css" id="theme-opt">
<link href="../../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<script src="../../assets/js/feather.min.js"></script>
<script src="../../assets/js/bootstrap.bundle.min.js"></script>
<script src="../../assets/js/simplebar.min.js"></script>
<script src="../../assets/js/select2.min.js"></script>
<script src="../../assets/js/select2.init.js"></script>
<script src="../../assets/js/flatpickr.min.js"></script>
<script src="../../assets/js/flatpickr.init.js"></script>
<script src="../../assets/js/jquery.timepicker.min.js"></script>
<script src="../../assets/js/timepicker.init.js"></script>
<script src="../../assets/js/feather.min.js"></script>
<script src="../../assets/js/app.js"></script>*@

<style>
    .table1, th, td {
        border: 1px solid #dee2e6;
        vertical-align: top;
        text-align: left;
        padding: 8px;
        border-collapse: collapse;
    }

    .mb-0 tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .mb-0 tr:hover {
        background-color: #ddd;
    }

    thead tr th {
        text-align: center;
    }
</style>
<h1 class="text-center">User list</h1>
<br />
<div class="table-responsive shadow rounded">
    <table id="table" class="  table table-center bg-white mb-0">
        <br />
        <thead>
            <tr style="background-color:#396cf0; color: #ffffff">
                <th class="border-bottom p-3" style="min-width: 50px;">ID</th>
                <th class="border-bottom p-3" style="min-width: 50px;">Roles</th>
                <th class="border-bottom p-3" style="min-width: 50px;">Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in listUsers)
            {
                <tr>
                    <td class="p-3">@item.Id</td>
                    @if(string.IsNullOrEmpty(item.RoleNames))
                    {
                        <td class="p-3"><a href="/Roles/AddRole?id=@item.Id">+ add role</a></td>
                    }
                    else
                    {
                        <td class="p-3"><a href="/Roles/AddRole?id=@item.Id">@item.RoleNames</a></td>
                    }
                    <td class="p-3">@item.UserName</td>
                </tr>
            }
        </tbody>
    </table>

</div>